body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#addBtn {
    background-color: green;
    color: white;
}

#clearBtn {
    background-color: red;
    color: white;
}

#status {
    font-weight: bold;
    margin-top: 10px;
}

.message {
    background-color: #e8f5e9;
    padding: 10px;
    margin: 8px 0;
    border-left: 5px solid green;
    border-radius: 5px;
}