body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: lightgray;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        gap: 20px;
    }
}
.image {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
}
.video {
    width: 50%;
    padding: 15px;
    background-color: purple;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #24157a;
}
.but {
    background-color: purple;
    border: none;
    padding: 12px 20px;   
}
.but:hover{
    background-color: blue;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
